/* Les Variables */
:root {
    --borderWidth: 30px;
    --primary1: #FA8E46;
    --primary2: #FA4F46;
    --secondary1: #38ce95;
    --secondary2: #5F7A73;
    --tercary1: #7A6A5F;
    --tercary2: #7A615F;
    --borderRadius: 5px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background: var(--tercary1);
    border-radius: var(--borderRadius);
    padding: 0px;
    margin: 0;
    text-align: center;
    height: 100px;
}

header>* {
    margin: 0;
    padding: 0;
}

article {
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: var(--borderRadius);
    height: calc(100vh - 200px);
}

#cardArea {
    background: var(--secondary1);
    border-radius: var(--borderRadius);
    padding: 5px;
}

#cardArea>#wrapperCard {
    /*border: 1px solid #222;*/
    border-radius: var(--borderRadius);
    /*5:7*/
    height: 440px;
    width: 315px;
    position: relative;
    margin: auto;
}

input {
    width: 100px;
}

label {
    display: block;
    padding: 2px;
    margin: 5px 0;
    max-width: 150px;
    width: 90%;
    border-radius: var(--borderRadius);
    box-shadow: 0 0 2px 0px #666;
    color: var(--primary1);
    background-color: #f6efef;
}

select,
input[type="file"],
img {
    background-color: #fee;
    color: var(--primary2) !important;
    border-color: var(--primary2) !important;
    outline-color: var(--primary2) !important;
}

select {
    padding: 3px;
    border-radius: var(--borderRadius);
    margin: 5px 0;
}

#options {
    display: grid;
    gap: 10px;
    background: var(--secondary2);
    border-radius: var(--borderRadius);
    padding: 3%;
    overflow-y: scroll;
}

#options>* {
    background: #fff;
    display: grid;
    margin: 10px;
    padding: 10px;
    border-radius: var(--borderRadius);

}

#options>#carteBase {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


#carteIllustration {
    grid-row: -1/1;
}

.previewBox {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    outline: 2px solid red;
}

#carteAtk1Info {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#carteAtk1Info>#atk1Illu {
    grid-row: 0/2;
}

#carteAtk1Info>#atkDesc1Val {
    grid-column: 2/5;
    width: 95%;
    height: 60px;
    resize: none;

}

#carteAtk2Info {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#carteAtk2Info>#atk2Illu {
    grid-row: 0/2;
}

#carteAtk2Info>#atkDesc2Val {
    grid-column: 2/5;
    width: 95%;
    height: 60px;
    resize: none;

}

#carteAtk3Info {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#carteAtk3Info>#atk3Illu {
    grid-row: 0/2;
}

#carteAtk3Info>#atkDesc3Val {
    grid-column: 2/5;
    width: 95%;
    height: 60px;
    resize: none;

}

#carteComplement {
    grid-template-columns: 1fr 1fr 4fr;
}

textarea {
    width: 100%;
    resize: none;
}

footer {
    background: var(--tercary2);
    border-radius: var(--borderRadius);
    padding: 5px;
    height: 50px;
}

footer>ul>li {
    display: inline-block;
    list-style-type: none;
}

#carteToPrint {
    height: 50px;
}

#card {
    width: 100%;
    height: 100%;
    position: relative;
    /*background-image: url("../Ressources/card0.png");*/
    background-size: calc(100% - 20px);
    background-position: center;
    background-repeat: no-repeat;
}

#card>img {
    position: absolute;
    width: 100%;
    margin: 0;
    z-index: 100;
}

#card>#inside {
    width: calc(100% + var(--borderWidth));
    margin: auto;
    position: relative;
    right: calc(var(--borderWidth) / 2);
    bottom: calc(var(--borderWidth) / 2);
    height: calc(100% + 4* var(--borderRadius));
    border-image-source: url("../Ressources/border-image-3.png");
    border-image-width: var(--borderWidth);
    border-image-slice: 40;
    border-image-repeat: repeat;
}

#cardValues {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    outline: 6px solid lightcoral;
}

#cardValues>.field {
    position: absolute;
    outline-width: 4px;
    outline-style: double;
}

.field {
    width: 10%;
    height: 30px;
    border-width: 1px;
    border-radius: var(--borderRadius);
    z-index: 100;
    outline: 3px solid #222;
}

#cardIllustration {
    width: calc(100% - var(--borderWidth));
    position: relative;
    top: calc(var(--borderWidth) / 2);
    height: 70%;
    margin: calc(var(--borderWidth) / 2);
    overflow: hidden;
    background-size: cover;
    background-position: center;
}


#cardTitre {
    width: 55%;
    text-align: center;
    height: 60px;
    left: calc(var(--borderWidth) / 2);
    top: calc(var(--borderWidth) / 2);
}


#cardTitre>h3 {}

#cardInfo1 {
    right: calc(var(--borderWidth) / 2 + 12%);
    top: calc(var(--borderWidth) / 2);
    outline-color: red;
}

#cardInfo2 {
    right: calc(var(--borderWidth) / 2);
    top: calc(var(--borderWidth) / 2);
    outline-color: green;
}

#cardInfo3 {
    left: calc(var(--borderWidth) / 2);
    bottom: calc(var(--borderWidth) / 2);
    outline-color: purple;
}

#cardInfo4 {
    width: 45%;
    text-align: center;
    height: 50px;
    right: calc(var(--borderWidth) / 2);
    bottom: calc(var(--borderWidth) / 2);
    outline-color: rgb(255, 107, 141);
}

#cardText {
    width: calc(100% - var(--borderWidth));
    height: 25%;
    margin: 5%;
    font-size: 0.55em;
    z-index: 100;
    position: relative;
    top: -70px;
    text-align: center;
    border-radius: var(--borderRadius);
    outline: 7px dotted rgb(94, 19, 32);
    display: grid;
    align-items: center;
    justify-content: center;
}

#cardText>div {
    outline: 4px solid slateblue;
    height: 25%;
    width: 90%;
    margin: 5%;
}

#imgPropOverview {
    width: 60px;
}

#propIllustration {
    width: 50px;
    position: relative;
    z-index: 0;
    top: 50px;
    left: 50px;
    transform-origin: center;
}

#propIllustration img {
    width: 100%;
    position: relative;
}

.fontSiteTitle {
    font-family: "espiritu", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.fontMonsterTitle {
    font-size: 1.3em;
    font-family: "obliqua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fontMonsterAttack {
    font-family: "Goblin One", serif;
    font-weight: 400;
    font-style: normal;

}