/* Les Variables */
:root {
    --borderWidth: 30px;
    --test: linear-gradient(180deg, rgba(42, 155, 106, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(16, 130, 84, 1) 100%);
    --primary2: #FA8E46;
    --primary1: #FA4F46;
    --secondary1: #a8c4ba;
    --secondary2: #eaf8f4;
    --borderRadius: 24px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: linear-gradient(180deg, rgb(163, 255, 215) 0%, rgb(111, 238, 164) 50%, rgb(79, 216, 161) 100%);
    line-height: 1em;
}

header {
    height: 15vh;
    text-align: center;
}


article {
    font-size: 0.5em;
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: var(--borderRadius);
    height: 75em;
}

#cardArea {
    border-radius: 0;
    padding: 5px;
    border-right: 2px solid #222;
}

#cardArea>#wrapperCard {
    overflow: hidden;
    /*5:7*/
    height: 335px;
    width: 243px;
    margin: 0;
    padding: 0;
}

input {
    width: 100px;
}

label {
    display: block;
    padding: 0.5em;
    margin: 5px 0;
    border-radius: var(--borderRadius);
    color: var(--primary1);
    font-weight: bold;
    position: relative;
}

select,
input[type="file"],
option img {
    color: var(--primary2) !important;
    border-color: var(--primary2) !important;
    outline-color: var(--primary2) !important;
}

select {
    padding: 3px;
    border-radius: var(--borderRadius);
    margin: 5px 0;
}

#options {
    display: grid;
    gap: 10px;
    border-radius: var(--borderRadius);
    padding: 3%;
    overflow-y: scroll;
    box-shadow: 0 0 25px 2px inset #3333;
}

#options>* {
    background: var(--secondary2);
    display: grid;
    height: 20em;
    margin: 2em;
    padding: 2em;
    border-radius: var(--borderRadius);

}

.fileOptionBox {
    height: 4em;
}

#cartePosition {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#cartePosition #centrageOption {
    grid-row-end: 3;
}

#cartePosition #manualPositionOption {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#manualPositionOption>div {
    line-height: 1.5em;
}

#manualPositionOption>div label {
    margin: 0;
    padding: 0;
}


#cartePosition span {
    display: inline-block;
    width: 20px;
}

#options>#carteBase {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


#carteIllustration {
    grid-row: 1/3;
}

.optionElement>div {
    display: grid;
    grid-template-columns: 3fr 1fr 5fr;
    align-items: center;
}

.optionElement>div>input {
    width: inherit;
    position: relative;
    bottom: 2px;
}

.previewBox {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    outline: 2px solid red;
}

.carteAtk {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.carteAtk>* {
    margin: 0;
    margin-bottom: 1em;
}


.carteAtk>div:first-of-type {
    grid-row: 1/4;
}

#carteAtk1Info>#atkDesc1Val {
    grid-column: 2/5;
    width: 95%;
    height: 60px;
    resize: none;
}

#carteAtk2Info>#atkDesc2Val {
    grid-column: 2/5;
    width: 95%;
    height: 60px;
    resize: none;

}

#carteAtk3Info>#atkDesc3Val {
    grid-column: 2/5;
    width: 95%;
    height: 60px;
    resize: none;

}

#carteComplement {
    grid-template-columns: 1fr 1fr;
}

textarea {
    width: 100%;
    resize: none;
}

footer {
    border-radius: var(--borderRadius);
    padding: 5px;
}

footer>ul>li {
    display: inline-block;
    list-style-type: none;
}


#card {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}


#card>img {
    position: absolute;
    width: 100%;
    z-index: 10;
}

#card>#inside {
    width: 100%;
    position: relative;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

#cardValues {
    position: absolute;
    top: 0%;
    z-index: 150;
    height: 100%;
    width: 100%;
    outline: 6px solid lightcoral;
}

#cardValues>.field {
    position: absolute;
    outline-width: 4px;
    outline-style: double;
}

.field {
    width: 30px;
    height: 30px;
    border-width: 1px;
    z-index: 100;
    outline: 3px solid #222;
}

#cardIllustration {
    width: 100%;
    position: relative;
    height: 65%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}


#cardTitre {
    width: 45%;
    text-align: center;
    height: 40px;
    margin-left: 5%;
    left: calc(var(--borderWidth) / 2);
    top: calc(var(--borderWidth) / 2);
}


#cardTitre>h3 {
    text-align: center;
    position: relative;
    top: -15px;
}

#cardInfo1 {
    right: calc(var(--borderWidth) / 2 + 12%);
    top: calc(var(--borderWidth) / 2);
    outline-color: red;
    background-image: url("../Ressources/health_icon.png");
    background-size: contain;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
    color: rgb(72, 0, 0);
    text-shadow: 0 0px 3px#ffffff;
    filter: brightness(1.4);
}

div#cardText div.descriptionAtk {
    height: 100%;
}

.descriptionAtk img {
    width: 100%;
}

.descriptionAtk>span:nth-of-type(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 10px;
}

.descriptionAtk>span:nth-of-type(2) {
    font-size: 1.33em;
}

.descriptionAtk>span:nth-of-type(3) {
    font-size: 1.33em;
    color: red
}

.descriptionAtk>span:nth-of-type(4) {
    font-size: 1.33em;
    color: blue
}

.descriptionAtk>span:last-of-type {
    grid-column-start: 2;
    grid-column-end: 5;
    line-height: 1em;
    font-size: .75em;
}

#cardInfo2 {
    right: calc(var(--borderWidth) / 2);
    top: calc(var(--borderWidth) / 2);
    outline-color: green;
    background-image: url("../Ressources/mana_icon.png");
    background-size: contain;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
    color: rgb(12, 0, 57);
    filter: brightness(2);
}

#cardInfo3 {
    left: 10px;
    bottom: 10px;
    outline-color: purple;
    font-size: 0.75em;
    height: 10px;
    width: 50%;
    font-style: italic;
    color: var(--primary2);
    text-shadow: 0 -1px 1px #111, 0 0 1px #eee;
}

#cardInfo4 {
    width: 40%;
    text-align: center;
    height: 30px;
    right: calc(var(--borderWidth) / 2);
    /*bottom: calc(var(--borderWidth) / 2);*/
    outline-color: rgb(255, 107, 141);
    font-size: 1.05em;
    line-height: 1em;
    bottom: 5px;
}

#cardText {
    width: 90%;
    height: 80px;
    margin: auto;
    right: 5px;
    z-index: 100;
    position: relative;
    top: 0px;
    outline: 7px dotted rgb(94, 19, 32);
    display: grid;
    align-items: start;
    row-gap: 1em;
}

#cardText>div {
    outline: 4px solid slateblue;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
}

#imgPropOverview {
    width: 60px;
}

#propIllustration {
    width: 100px;
    position: relative;
    z-index: 0;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    transform-origin: center center;
}

#propIllustration img {
    width: 100%;
    position: relative;
    z-index: 101;
}

.fontSiteTitle {
    font-family: "espiritu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;

}

.fontMonsterTitle {
    font-size: 2em;
    font-family: "obliqua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fontMonsterAttack {
    font-family: "Goblin One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;

}