/* Les Variables */
:root {
    --borderWidth: 30px;
    --primary1: #FA8E46;
    --primary2: #FA4F46;
    --secondary1: #a8c4ba;
    --secondary2: #eaf8f4;
    --borderRadius: 5px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--secondary1);
    line-height: 1em;
}

header {
    border-radius: var(--borderRadius);
    padding: 0px;
    margin: 0;
    text-align: center;
}

header>* {
    margin: 0;
    padding: 0;
}

article {
    font-size: 0.5em;
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: var(--borderRadius);
    height: 75em;
}

#cardArea {
    border-radius: 0;
    padding: 5px;
    border-right: 2px solid #222;
}

#cardArea>#wrapperCard {
    /*border: 1px solid #222;*/
    border-radius: var(--borderRadius);
    /*5:7*/
    height: 440px;
    width: 315px;
    position: relative;
    margin: auto;
}

input {
    width: 100px;
}

label {
    display: block;
    padding: 0.5em;
    margin: 5px 0;
    border-radius: var(--borderRadius);
    color: var(--primary1);
    font-weight: bold;
}

select,
input[type="file"],
option img {
    color: var(--primary2) !important;
    border-color: var(--primary2) !important;
    outline-color: var(--primary2) !important;
}

select {
    padding: 3px;
    border-radius: var(--borderRadius);
    margin: 5px 0;
}

#options {
    display: grid;
    gap: 10px;
    border-radius: var(--borderRadius);
    padding: 3%;
    overflow-y: scroll;
    box-shadow: 0 0 25px 2px inset #3333;
}

#options>* {
    background: var(--secondary2);
    display: grid;
    height: 20em;
    margin:2em;
    padding: 2em;
    border-radius: var(--borderRadius);

}
.fileOptionBox{
    height: 4em;
}

#cartePosition {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#cartePosition #centrageOption {
    grid-row-end: 3;
}

#cartePosition #centrageOption #manualPositionOption {
    display: flex;
}


#cartePosition span {
    display: inline-block;
    width: 20px;
}

#options>#carteBase {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


#carteIllustration {
    grid-row: 1/3;
}
.optionElement>div{
    display:grid;
    grid-template-columns: 3fr 1fr 5fr;
    align-items: center;
}
.optionElement>div>input{
    width: inherit;
    position: relative;
    bottom:2px;
}
/*
.optionElement>div>span{
}
*/
.previewBox {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    outline: 2px solid red;
}

.carteAtk {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}

.carteAtk>* {
    margin:0;
    margin-bottom: 1em;
}


.carteAtk>div:first-of-type {
    grid-row: 1/4;
}

#carteAtk1Info>#atkDesc1Val {
    grid-column: 2/5;
    width: 95%;
    height: 60px;
    resize: none;
}

#carteAtk2Info>#atkDesc2Val {
    grid-column: 2/5;
    width: 95%;
    height: 60px;
    resize: none;

}

#carteAtk3Info>#atk3DescVal {
    grid-column: 2/5;
    width: 95%;
    height: 60px;
    resize: none;

}

#carteComplement {
    grid-template-columns: 1fr 1fr 2fr;
}

textarea {
    width: 100%;
    resize: none;
}

footer {
    border-radius: var(--borderRadius);
    padding: 5px;
}

footer>ul>li {
    display: inline-block;
    list-style-type: none;
}


#card {
    width: 100%;
    height: 100%;
    position: relative;
    /*background-image: url("../Ressources/card0.png");*/
    background-size: calc(100% - 20px);
    background-position: center;
    background-repeat: no-repeat;
}

#card>img {
    position: absolute;
    width: 100%;
    margin: 0;
    z-index: 100;
}

#card>#inside {
    width: calc(100% + var(--borderWidth));
    margin: auto;
    position: relative;
    right: calc(var(--borderWidth) / 2);
    bottom: calc(var(--borderWidth) / 2);
    height: calc(100% + 6* var(--borderRadius));
    border-image-source: url("../Ressources/border-image-3.png");
    border-image-width: var(--borderWidth);
    border-image-slice: 40;
    border-image-repeat: repeat;
}

#cardValues {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    outline: 6px solid lightcoral;
}

#cardValues>.field {
    position: absolute;
    outline-width: 4px;
    outline-style: double;
}

.field {
    width: 10%;
    height: 30px;
    border-width: 1px;
    border-radius: var(--borderRadius);
    z-index: 100;
    outline: 3px solid #222;
}

#cardIllustration {
    width: calc(100% - var(--borderWidth));
    position: relative;
    top: calc(var(--borderWidth) / 2);
    height: 70%;
    margin: calc(var(--borderWidth) / 2);
    overflow: hidden;
    background-size: cover;
    background-position: center;
}


#cardTitre {
    width: 55%;
    text-align: center;
    height: 60px;
    left: calc(var(--borderWidth) / 2);
    top: calc(var(--borderWidth) / 2);
}


#cardTitre>h3 {
    text-align: center;
}

#cardInfo1 {
    right: calc(var(--borderWidth) / 2 + 12%);
    top: calc(var(--borderWidth) / 2);
    outline-color: red;
}

.descriptionAtk img {
    width: 33px;
}

.descriptionAtk>div span:nth-of-type(2) {
    font-size: 1.5em;
}

.descriptionAtk>div span:nth-of-type(3) {
    margin: 0 3%;
}

.descriptionAtk>div span:nth-of-type(4) {
    margin: 0 3%;
}

.descriptionAtk>div span:nth-of-type(5) {
    margin: 0 3%;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

#cardInfo2 {
    right: calc(var(--borderWidth) / 2);
    top: calc(var(--borderWidth) / 2);
    outline-color: green;
}

#cardInfo3 {
    left: calc(var(--borderWidth) / 2);
    bottom: calc(var(--borderWidth) / 2);
    outline-color: purple;
}

#cardInfo4 {
    width: 45%;
    text-align: center;
    height: 50px;
    right: calc(var(--borderWidth) / 2);
    bottom: calc(var(--borderWidth) / 2);
    outline-color: rgb(255, 107, 141);
}

#cardText {
    width: calc(100% - var(--borderWidth));
    height: 25%;
    margin: 5%;
    font-size: 0.5em;
    z-index: 100;
    position: relative;
    top: -70px;
    border-radius: var(--borderRadius);
    outline: 7px dotted rgb(94, 19, 32);
    display: grid;
    align-items: center;
}

#cardText>div {
    outline: 4px solid slateblue;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
}

#imgPropOverview {
    width: 60px;
}

#propIllustration {
    width: 50px;
    position: relative;
    z-index: 0;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    transform-origin: center center;
}

#propIllustration img {
    width: 100%;
    position: relative;
    z-index: 101;
}

.fontSiteTitle {
    font-family: "espiritu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;

}

.fontMonsterTitle {
    font-size: 2em;
    font-family: "obliqua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fontMonsterAttack {
    font-family: "Goblin One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;

}